#calcWrap{
  width: 500px;
  height: 700px;
  border: 3px solid black;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 10px 10px;
}

#displayNumber{
  font-size: 3em;
  grid-column: span 4;
  background-color: gainsboro;

  display: flex;
  justify-content: end;
}