body{
  width: 100vx;
  height: 100vh;
  margin: 0px;
  background-color: lightblue;

  display: flex;
  justify-content: center;
  align-items: center;
}

#wrap{
  width: 600px;
  height: 700px;
  background-color: rgb(175, 174, 174);
  font-size: 1.2em;

  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr 1fr 4fr ;

  justify-items: center;
  align-items: center;
}


#wrap input{
  width: 80%;
  background-color:  rgb(175, 174, 174);
  border: 0px;
  border-bottom: 1px dashed black;
}

#wrap > div:nth-child(4), 
#wrap > div:nth-child(6){
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#wrap > div:nth-child(4) > div,
#wrap > div:nth-child(6) > div{
  color: white;
  font-size: 0.7em;
}

#pwdText,
#pwdCheckText{
  visibility: hidden;
}

#pwdText.active,
#pwdCheckText.active{
  visibility: visible;
}

#wrap > div:last-child{
  width: 100%;
  height: 100%;

  /* column 2개를 차지하도록 만들어 준다. */
  grid-column: span 2;

  display: flex;
  justify-content: center;
  align-items: end;
}

#wrap > div:last-child > button{
  width: 80%;
  height: 20%;
  background-color: rgb(6, 156, 6);
  margin-bottom: 20px;
}

