<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>연습장</title>

  <link rel="stylesheet" href="./test.css">
  <script defer src="./test.js"></script>

  <!-- 제이쿼리 -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<body>

  <button onclick="f01();">hide</button>
  <button onclick="f02();">show</button>
  <button onclick="f03();">toggle</button>
  <br>
  <button onclick="f04();">fade in</button>
  <button onclick="f05();">fade out</button>
  <button onclick="f06();">fadeToggle</button>
  <br>
  <button onclick="f07();">slideDown</button>
  <button onclick="f08();">slideUp</button>
  <button onclick="f09();">slideToggle</button>

  <div id="target01">얖01</div>


</body>
</html>