body, h1, h2, h3{
  margin: 0;
}

body{
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main{
  width: 30vw;
  height: 100vh;
  background-color: white;
  display: grid;
  grid-template-rows: 3fr 4fr 1fr 2fr 4fr;
  grid-template-columns: 1fr;
}

#logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo > img{
  margin-top: 10%;
}

#login{
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
  grid-template-columns: 1fr;
}

#login > div:nth-child(1){
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#div-id, #div-pwd{
  border: 1px solid rgb(114, 114, 114);
  width: 80%;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login input{
  border: 0px;
  width: 80%;
  height: 60%;
}

#div-id{
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: 0px;
}

#div-pwd{
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

#login input[type=checkbox]{
  width: 15px;
  height: 15px;
}

#login-btn-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-btn-wrap > button{
  width: 90%;
  height: 80%;
  color: white;
  background-color: rgb(58, 94, 236);
  font-weight: 900;
  font-size: 1.5em;
  border: 0px;
  border-radius: 8px;
}

#menu{
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu > span{
  font-size: 0.8em;
  color: rgb(151, 151, 151);
}

#ad-img-area{
  width: 100%;
  height: 100%;
  background-image: url("../resources/img/abc3.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
